/*HEADER SECTION MANGLER BAGGRUNDS BILLEDE URL ER TOM. Overlay virker vist ikke
Farver jeg bruger. HUSK AT SLETTE DENNE DEL
#3AAFA9 turkis
#FEFFFF light blue/white
#2B7A78 dark blue
#DEF2F1 light blue
#17252A dark blue/black */


/*-------------------------Universal style for the page-------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

	/*Ancher tag*/
a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: #FEFFFF; /*Change*/
	font-family: 'Comfortaa', cursive;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

	/*Section headline*/
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: #17252A; /*Change*/
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

	/*Color for the spans in the section title*/
.section-title span {
	color: #3AAFA9; /*Change*/
}

	/*Button*/
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: #FEFFFF; /*Change*/
	background-color: transparent;
	border: 2px solid #DEF2F1; /*Change*/
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}

.cta:hover {
	color: #2B7A78; /*Change*/
	background-color: #DEF2F1; /*Change*/
}

	/*Link style*/
a:link {
	color: #3AAFA9; /*Unused*/
 }

a:visited {
	color: #DEF2F1; /*Used*/
}
  
a:hover {
	color: #2B7A78; /*Hover*/
  }
  
a:active {
	color:#17252A ; /*Active*/
  }

/*-------------------------End of Universal style for the page-------------------------*/



/*-------------------------Navigation Section-------------------------*/
#nav {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#nav .nav {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24); /*Change*/
	transition: 0.3s ease background-color;
}

#nav .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#nav .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30); /*Change*/
	width: 100vw;
	height: 100vh;
	left: 100%; /*Hiding the side menu*/
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#nav .nav-list ul.active {
	left: 0%;
}
#nav .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021); /*Change*/
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}

#nav .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#nav .nav-list ul li:hover a {
	color: #3AAFA9; /*Change*/
}

#nav .nav-list ul a{
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: #DEF2F1; /*Change*/
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

	/*The line under the menu*/
#nav .nav-list ul li::after{
    content: '';
    width: 0%; 
    height: 2px;
    background: #3AAFA9; /*Change*/
    display: block;
    margin: auto;
    transition: 0.5s;
}

	 
#nav .nav-list ul li:hover::after{
    width: 70%;
}

	/*Logo image*/
#nav .brand{
	display: flex;
	height: 100px;
}

/*-------------------------End of Navigation Secton-------------------------*/



/*-------------------------Header Section-------------------------*/
#header {
	background-image: url(images/header.png); /*NOT SET*/
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

	/*Overlay on the backgrund image*/
#header::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black; /*Change*/
	opacity: 0.7;
	z-index: -1;
}

#header .header {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

	/*For Headline animation*/
#header h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent; /*To not see the words befor the animation*/
	animation: text_reveal 0.5s ease forwards; /*For the animation*/
	animation-delay: 1s;
}

#header h1:nth-child(1) {
	animation-delay: 1s;
}
#header h1:nth-child(2) {
	animation-delay: 2s;
}
#header h1:nth-child(3) {
	animation: text_reveal_udd 0.5s ease forwards; /*Last line changes color*/
	animation-delay: 3s;
}

#header h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #3AAFA9; /*Change*/
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}

#header h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#header h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#header h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/*-------------------------End of Header Section-------------------------*/



/*-------------------------Skills Section--------------------*/
#skills .skills {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#skills .skills-top p{
	color: #17252A;
}

#skills .skills-top {
	max-width: 500px;
	margin: 0 auto;
}

	/*Title backdrop*/
#skills .skills-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#skills .skills-item {
	height: 350px;
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(One-Page/images/home.jpg); /*Change, fix*/
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#skills .skills-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); /*Can change*/
	opacity: 0.9; /*Test how much shade I want*/
	z-index: -1;
}

#skills .skills-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}

#skills .skills-item h2 {
	font-size: 2rem;
	color: #DEF2F1 ; /*Change*/
	margin-bottom: 10px;
	text-transform: uppercase;
}

#skills .skills-item p {
	color: #FEFFFF; /*Change*/
	text-align: left;
}

/*-------------------------End of Skills Section-------------------------*/



/*-------------------------Projects section-------------------------*/
#projects .projects {
	flex-direction: column; /*Not working*/
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#projects .projects-header h1 {
	margin-bottom: 50px;
}

#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}

#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); /*Can change*/
	color: #2B7A78; /*Change*/
}

#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}

#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}

#projects .project-info p {
	color: #FEFFFF; /*Change*/
}

#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}

	/*Image scaleing up*/
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); /*Can change*/
	opacity: 0.7; /*Test*/
}

#projects .project-img img {
	transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}

/*-------------------------End of Projects Section-------------------------*/



/*-------------------------About Me Section-------------------------*/
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

	/*For the image*/
#about .col-left {
	width: 250px;
	height: 360px;
}

	/*For the text*/
#about .col-right {
	width: 100%;
}

#about .col-right h2 {
	font-size: 1.8rem; /*Test*/
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}

#about .col-right p {
	margin-bottom: 20px;
	color: #17252A;
}

	/*Image border*/
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white; /*White gap*/
}

#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid #3AAFA9; /*Change*/
	z-index: -1; /*Minus so it's behinde the image*/
}

/*-------------------------End of About Me Section-------------------------*/



/*-------------------------Contact Section-------------------------*/
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}

#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}

#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}

/*-------------------------End of Contact Section-------------------------*/



/*-------------------------Footer Section-------------------------*/
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); /*Can change*/
}

#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

	/*Logo image*/
#footer .brand{
	display: flex;
	height: 100px;
}

#footer h2 { /*Look at the text size*/
	color: #DEF2F1; /*Change*/
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}

	/*Icon size*/
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}

/*-------------------------End of Footer Section-------------------------*/



/*-------------------------Keyframes------------------------*/
	/*For Headline animation*/
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: white; /*Change, tekst color*/
	}
}

@keyframes text_reveal_udd {
	100% {
		color: #3AAFA9; /*Change*/
		font-weight: 500;
	}
}
/*-------------------------End of Keyframes-------------------------*/



/*-------------------------Responsivness for Tablet size-------------------------*/
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	
	h1.section-title {
		font-size: 6rem;
	}

	
	/*----------Header Section----------*/
	#header h1 {
		font-size: 7rem;
	}

	/*----------End of Header----------*/


	/*----------Skills Section----------*/
	#skills .skills-bottom .skills-item {
		flex-basis: 45%;
		margin: 2.5%;
	}

	/*----------End of Skills Section----------*/


	/*----------Project Section----------*/
	#projects .project-item {
		flex-direction: row;
	}
	
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	
	#projects .all-projects .project-info {
		height: 100%;
	}
	
	#projects .all-projects .project-img {
		height: 100%;
	}

	/*----------End of Project Section----------*/


	/*----------About Me Section----------*/
	#about .about {
		flex-direction: row;
	}
	
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #3AAFA9; /*Change*/
	}
	
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	
	#about .col-right h1 {
		text-align: left;
	}

	/*----------End of About Me Section----------*/


	/*----------Contact Section----------*/
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

	/*----------End of Contact Section----------*/

}

/*-------------------------End of Responsivness for Tablet size-------------------------*/



/*--------------------Responsivness for Desktop size-------------------------*/
@media only screen and (min-width: 1200px) {
	/*----------Navigation Section----------*/
	#nav .nav-list ul{
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}

	#nav .nav-list ul li{
		display: inline-block;
	}

	#nav .nav-list ul li a{
		font-size: 1.8rem;
	}

	#nav .nav-list ul a::after{
		display: none;
	}

	/*----------End of Navigation Section----------*/


	/*----------Skills Section----------*/
	#skills .skills-item{
		height: 400px;
	}
	
	#skills .skills-bottom .skills-item {
		flex-basis: 22%;
		margin: 1.5%;
	}

	/*----------End of Skills Section----------*/


	/*----------Contact Section----------*/
	#contact .contact-items{
		padding: 10px;
	}

	/*----------End of Contact Section----------*/
}

/*-------------------------End of Responsivness for Desktop size-------------------------*/